In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import os
import requests
# Import the API key.
from config import g_key

In [2]:
# File to Loand
city_data_to_load = os.path.join("weather_data","cities.csv")

In [3]:
# Store the CSV you saved into a DataFrame.
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mandiana,GN,2022-02-12 19:27:35,10.6333,-8.6833,82.04,13,3,4.09
1,1,Nanortalik,GL,2022-02-12 19:27:35,60.1432,-45.2371,30.40,97,100,6.31
2,2,Dingle,PH,2022-02-12 19:27:36,10.9995,122.6711,74.43,92,36,8.39
3,3,Ancud,CL,2022-02-12 19:27:36,-41.8697,-73.8203,79.23,61,84,5.23
4,4,Cape Town,ZA,2022-02-12 19:25:36,-33.9258,18.4232,71.10,81,0,16.11

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speeed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mandiana,GN,2022-02-12 19:27:35,10.6333,-8.6833,82.04,13,3,4.09
3,3,Ancud,CL,2022-02-12 19:27:36,-41.8697,-73.8203,79.23,61,84,5.23
5,5,Cidreira,BR,2022-02-12 19:27:37,-30.1811,-50.2056,78.76,69,1,18.14
11,11,Sinnamary,GF,2022-02-12 19:27:40,5.3833,-52.9500,79.25,85,73,12.10
14,14,Atar,MR,2022-02-12 19:27:41,20.5169,-13.0499,75.40,17,14,11.43

In [17]:
preferred_cities_df.count()

City_ID       190
City          190
Country       189
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat      Lng Hotel Name
0                   Mandiana      GN     82.04  10.6333  -8.6833
3                      Ancud      CL     79.23 -41.8697 -73.8203
5                   Cidreira      BR     78.76 -30.1811 -50.2056
11                 Sinnamary      GF     79.25   5.3833 -52.9500
14                      Atar      MR     75.40  20.5169 -13.0499
29                    Olinda      BR     85.73  -8.0089 -34.8553
32                 Bathsheba      BB     83.01  13.2167 -59.5167
33                     Gamba      GA     78.62  -2.6500  10.0000
34  Sao Jose Da Coroa Grande      BR     84.11  -8.8978 -35.1478
36                 Mogadishu      SO     77.34   2.0371  45.3438

In [27]:
# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Mandiana,GN,82.04,10.6333,-8.6833,Motels rouzo
3,Ancud,CL,79.23,-41.8697,-73.8203,Hotel Arena Gruesa
5,Cidreira,BR,78.76,-30.1811,-50.2056,Hotel Castelo
11,Sinnamary,GF,79.25,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
14,Atar,MR,75.40,20.5169,-13.0499,Oumou Elghoura
29,Olinda,BR,85.73,-8.0089,-34.8553,Pousada Sitio Do Carmo
32,Bathsheba,BB,83.01,13.2167,-59.5167,Atlantis Hotel
33,Gamba,GA,78.62,-2.6500,10.0000,
34,Sao Jose Da Coroa Grande,BR,84.11,-8.8978,-35.1478,Crôa Mares Hotel
36,Mogadishu,SO,77.34,2.0371,45.3438,Hotel Juba

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [43]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots.
locations= hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,max_intensity=300, point_radius=4 )
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))